.cm-editor-wrapper {
  & :global(.cm-editor) {
    border-radius: 6px;
    margin-left: 1rem;
  }
  
  & :global(.ͼ1.cm-focused) {
    outline: none;
  }

  & :global(*) {
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  }
}